@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body {
    --tw-bg-opacity: 1;
    background-color: hsl(var(--b2, var(--b1)) / var(--tw-bg-opacity-base-500));
}
#root {
    width: 100%;
    height: 100%;
    text-align: justify;
}